html,body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}


.invalid-feedback, .valid-feedback {
    text-align: left;
}

h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

.jumbotron h1 {
    color: white;
}

.project-title {
    font-family: 'Lato', sans-serif;
}

#personal-pic {
    width:250px;
    height:250px;
    margin-bottom: 10%; 
    border-radius: 50%;
}

#mail {
    width:100px;
    height:100px;
}

#stars {
    background-image: url("../images/starry-night.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 60%;
}

#myWork {
    font-weight: bold;
    border-color:black;
}

#contact {
    background-color: black;
}

#contact h1 {
    color:white;
}


.card {
    margin-top: 20px;
}

div {
    text-align: center;
}

#test {
    background-color: yellow;
}

a {
    margin-right: 5px;
    color: white;
    text-align: center;
}

h6 {
    text-align: center;
}

#contact > * {
    color:white;
}

.w-100 {
    background-color: lightgray;
    height: 1px;
}

.project-image {
    display: block;
    box-shadow: -10px -10px 10px 5px lightgray;
    width: 50%;
    height: auto;
    max-height: 300px;
}

.project-descr {
    color: gray;
    font-family: 'Lato', sans-serif;
}

h2 {
    font-weight: bolder;
}

.nav-item:hover {
    cursor: pointer;
}

.nav-item > a:hover {
    text-decoration: none;
    color: white;
}

.nav-item > * {
    color:white;
    text-align: center;
}
